.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.image-container {
  display: none; /* Hide on mobile by default */
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100vh;
  background-image: url("https://res.cloudinary.com/du9ltkksx/image/upload/v1722444883/front-image_lmcdir.webp");
  background-size: cover;
  margin-right: 20px;
  text-align: center;
  border-radius: 10px;
}

.signup-form {
  width: 100%;
  max-width: 400px;
  background-image: url("https://res.cloudinary.com/du9ltkksx/image/upload/v1722444883/front-image_lmcdir.webp");
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.8); /* Use solid background instead of image */
  padding: 20px;
  border-radius: 10px;
}

.signup-form h2 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  color: white;
  font-size: 25px;
}

.signup-form form {
  display: flex;
  flex-direction: column;
}

.signup-button, .login-button {
  margin-top: 10px;
  width: 100%;
  background-color: rgb(248, 163, 6);
  color: white;
  border-radius: 5px;
  height: 40px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.para {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
  font-size: 15px;
  text-align: center;
}

.paragraph {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
  font-size: 13px;
  padding: 0 20px;
}

.error-message {
  color: red;
  text-align: center;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .image-container {
    display: flex;
  }

  .signup-form {
    padding-top: 100px;
  }

  .signup-button, .login-button {
    width: 50%;
    margin: 10px auto;
  }
}
